/* ====================== Navigation ====================== */
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    /* made breadcrumb spread across the top of the screen*/
    max-width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #footer {
  bottom: 0;
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	max-width: 90%;
  border-top-left-radius: 40px;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	max-width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 20px 40px 30px;
  max-width: 100%;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  max-width: 85%;
}
/* Style the info inside the review containers. */
.rheader {
  background-color: #252831;
  height: 40px;
  margin: 0px 0px 16px 0px !important;
  max-width: 100%;
  align-items: center;
  border-top-left-radius: 25px;
}
.rname{
  float: left;
  max-width: 50%;
  font-family: sans-serif;
  color: white;
  margin-left: 20px;
}
.rdate{
  float: right;
  max-width: 50%;
  color: #aaa;
  margin-right: 15px;
}
.rrating{
  color: white;
  background-color: #f58500;
  max-width: 30%;
  margin-left: 20px;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
  min-width: 95px;
}
.rcomments{
margin-left: 20px;
margin-right: 20px;
color: #aaa;
}

#reviews-list li p {
  margin-bottom: 10px;
  margin-top: 0px;
}
#restaurant-hours td {
  color: #666;
}

@media screen and (max-width:600px){
  #reviews-list li p {
    font-size: 14pt;
  }
  .rname{
    font-size: 18pt !important;
  }
  #restaurant-container, #reviews-container{
    min-width: 320px;
    padding: 20px 20px 30px;
  }
  #reviews-list li, #restaurant-img, #restaurant-cuisine {
    max-width: 100%;
  }
}

@media screen and (min-width:601px) and (max-width: 1000px){
  #reviews-list li p {
    font-size: 18pt;
  }
  .rname{
    font-size: 22pt !important;
  }
}

@media screen and (min-width:1001px){
  #reviews-list li p {
    font-size: 22pt;
  }
  .rname{
    font-size: 26pt !important;
    margin-top: -5px !important;
  }
}
@media screen and (min-width: 988px){
  /* set to 800px because that's the widest the restaurant imgs are */
  #restaurant-cuisine{
    max-width: 800px;
  }
}

/* set sizing of each element to include margin with max size.*/

* {
  box-sizing: border-box;
}
